@model IEnumerable<EventManagementSystem.Models.EventDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>
<div class="add-event-btn">
    <a asp-action="Login">Add Event</a>
</div>
<div>
    <!-- <select id="eventType" onchange="onselectionchangeEvent()">
         <option value="1" selected>Upcoming </option>
         <option value="2">Passed</option>
     </select>-->
    <ul class="nav nav-pills" id="eventTypeTab" role="tablist">
        <li class="nav-item">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" type="button" role="tab" aria-controls="upcoming" aria-selected="true" onclick="onselectionchangeEvent('1')">Upcoming</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" type="button" role="tab" aria-controls="passed" aria-selected="false" onclick="onselectionchangeEvent('2')">Passed</button>
        </li>
    </ul>
</div>
<table class="table  table-striped ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        <input type="button" class="btn-secondary border-0 rounded px-3 py-2" onclick="viewDetail(@item.EventId)" value="View" />
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="5" style="text-align:center">No Record</td></tr>
        }

    </tbody>
</table>
<partial></partial>



<div id="partialModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*
                <h5 class="modal-title">Customer Details Form</h5>
                <button type="button" class="close" data-dismiss="modal"  aria-label="Close">

                </button>*@
                <h3 class="modal-title">Event Details</h3>
                <button type="button" class="btn btn-close" data-dismiss="modal" onclick="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container  card col-md-11" style="border: none; margin-top: 20px;">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-outline">
                            <label class="form-label fw-bold">Title: </label>
                            <label class="form-label fw-bold" id="eventtitle"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-outline">
                            <label class="form-label fw-bold">Description: </label>
                            <label class="form-label fw-bold" id="eventdescription"></label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-outline">
                            <label class="form-label fw-bold">Author: </label>
                            <label class="form-label fw-bold" id="eventauther"></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-outline">
                            <label class="form-label fw-bold">Start Dates: </label>
                            <label class="form-label fw-bold" id="eventdate"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/js/event.js"></script>
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }